html, body {
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

#programInput {
  height: 250px;
  outline: none;
}

#programOutput {
  font-family: monospace;
}

.stdout, .stderr, .debug {
  display: block;
}

.stderr {
  color: red;
}

.debug {
  color: #007bff;
}

#testers {
    color: orange;
    text-align: center;
}

#testers a {
    color: orangered;
}

.col-md-6 {
  float: left;
}
