html, body {
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

#programInput {
  height: 250px;
}

#programOutput {
  font-family: monospace;
}

.stout, .sterr, .debug {
  display: block;
}

.sterr {
  color: red;
}

.debug {
  color: forestgreen;
}

#testers {
    color: red;
    text-align: center;
}